<div class="row-fluid">
	<div class = "span4 offset4">
		<div class = 'font_18px font_bold'> Forgot Password </div>
		<div class = 'margin_top font_josefin margin_bottom'>
		  <%= form_tag email_password_reset_path do %>
      		<%= text_field_tag :email, params[:email], :placeholder => "Your email", class: 'email_icon' %>
	      	<div class="org_btn"><%= submit_tag "Reset Password"%></div>
	      <% end %>
		</div>
    	
	    <div class = 'table_border_top font_18px font_bold padding_top'> Log In </div>
	    <div class = 'margin_top font_josefin margin_bottom'>
		  <%= form_for(:session, url: sessions_path) do |f| %>
            <%= f.email_field :email, :placeholder => "Email", class: 'email_icon' %>
            <%= f.password_field :password, :placeholder => "Password", class: 'password_icon' %>
            <div class = "org_btn"> <%= f.submit "Sign in" %> </div>
          <% end %>
		</div>

		<div class = 'table_border_top font_18px font_bold padding_top'> Create a Local Yum Account</div>
	    <div class = 'margin_top font_josefin margin_bottom'>
		  <%= render 'shared/user_new'%>
		</div>
		
	</div>
</div>
