<footer class="footer white_container_no_border">
  <div class="padding_top padding_bottom center">
    <%= link_to "  About  ", about_path %> &nbsp; &nbsp;
    <%= link_to "  Contact  ", contact_us_path %> &nbsp; &nbsp;
    <%= link_to "  How It Works  ", how_it_works_path %> &nbsp; &nbsp;
    <%= link_to "  FAQ  ", help_path %> &nbsp; &nbsp;
    <%= link_to "  Terms of Service  ", terms_path %> &nbsp; &nbsp;
    <%= link_to "  Privacy Policy  ", privacy_policy_path %> &nbsp; &nbsp;
    <%= link_to "  Cancellation Policy  ", cancellation_policy_path %>
  </div>
  <div style="font-size:2px;" class = 'center'>Local Yum offers the best social dining experiences in Richmond. Local Yum showcases a collection of dining events where you can use food as an excuse to connect with like-minded people. Whether you are a traveler looking to dine with locals or new in town looking to meet friends, we got the event for you. We hope everyone leaves the events not only with a full stomach, but also with knowing a new friend. Local Yum is also a platform where creative chefs can showcase their culinary portfolio and fans can request recipes. Local Yum hopes to build a great community through enabling people to connect through a shared meal and an outlet for chefs to create their ideal experiences. </div>
  
  <div class = 'center padding_top padding_bottom'>
    Join us on &nbsp; &nbsp;
    <%= link_to image_tag('twitter.png', size: '24x24'), 'https://twitter.com/localyumme', :target => "_blank" %> &nbsp; &nbsp;
    <%= link_to image_tag('facebook.png', size: '24x24'), 'https://www.facebook.com/localyum', :target => "_blank" %> &nbsp; &nbsp;
    <%= link_to image_tag('pinterest.png', size: '24x24'), 'http://www.pinterest.com/localyum/', :target => "_blank" %>
  </div>
  
  <div class = 'padding_top padding_bottom center'> &copy; Local Yum, LLC. </div>
</footer>